extends layout

block content
  <h2 class=center> Community Workouts </h2>

  ul
    if (workouts && workouts.length > 0)
      each workout in workouts
        li= workout.userName + ': ' 
          each exerciseKey in Object.keys(workout.exercises)
            - if(exerciseKey !== 'length')
              = workout.exercises[exerciseKey] + '   '
      li.no-bullet
    else
      li No workouts found
    li.no-bullet
  p.center
    | Ready to join our commmunity?
    a(href="/login")  GET SWOLL!
  p.center
    | Going home so soon?
    a(href="/")  Home

  <h2 class=center> If your signed in </h2>
  p.center
    | Create a workout
    a(href="/workout")  Here
  p.center
    | Your workouts
    a(href="/myWorkout")  Here
  p.center
    | Sign Out 
    a(href='/logout') Here
