extends layout

block content
  .body 
  <h2 class=center> Welcome, This is the homepage </h2>
  <h3 class=info> The Workout Website is a website dedicated to organizing workouts posted by the community and creating your own unique workouts that users can create and share to the community at large.</h3>