extends layout

block content
  h2.center  LOG IN BELOW!
  form.center(method="POST" action="/login")
    | Name:
    input(name="username")
    br
    | Password:
    input(name="password")
    br
    br
    input(type="submit" value="Login")
  p.center
    | Dont have an account?
    a(href="/signup")  Sign up here!
  br
  br
  br
  br