extends layout

block content
  <h2 class=center> My Workouts </h2>
  li.no-bullet

  ul
      if (workouts && workouts.length > 0)
        each workout in workouts
          li= workout.userName + ': '
            each exerciseKey in Object.keys(workout.exercises)
              - if(exerciseKey !== 'length')
              = workout.exercises[exerciseKey] + '   '
        li.no-bullet
      else
        li No workouts found for user
      li.no-bullet
  p.center
    | Go to Community Workouts
    a(href="/commWorkout")  Here
  p.center
    | Create a workout
    a(href="/workout")  Here
  p.center
    | Sign Out 
    a(href='/logout') Here
