extends layout

block content
  h2.center  SIGN UP BELOW!
  form.center(method="POST" action="/signup")
    | Name:
    input(name="username")
    br
    | Password:
    input(name="password")
    br
    br
    input(type="submit" value="Signup")
  p.center
    | Dont have an account?
    a(href="/login")  Log in here!
  br
  br
  br
  br